.form-container {
    padding: 40px 45px 40px;
    margin: 0 auto;
    text-align: left;
    background: white;
    border-radius: 5px;
}
.form-container #flash-bar {
    margin: 0px -20px;
}
.form-container .ui-button {
    width:100%;
    height:50px;
    font-size:16px;    
    color: white;
    background: #1E90FF;
    border: 1px solid;
    padding: 8px 15px;
}

.link-container {
    padding: 20px 45px;
    margin: 0 auto;
    text-align: center;
    background: white;
    border-top: 1px solid whitesmoke;    
}

.form-heading {
    font-size: 2.5em;
    line-height: 1;
    margin-bottom: 1em;
}
.form-label {
    display: block;
    padding: 0 0 7px;
    font-weight: bold;
    font-size: 13px;
}
.form .checkbox-wrapper {
    position: relative;
    font-weight: 100;
    display: inline-block;
    height:0;
}
.form .checkbox-wrapper label {
    font-weight: 400;
    position: relative;
    top: -3px;
    font-size: 13px;
}

.form-link {
    padding: 0 0 7px;
    color: #585b62;
    font-size: 13px;
    margin-left: 5px;
}

.form-input {
    width: 96%;
    height: 20px;
    line-height: 19px;
    padding: 7px;
    margin: 0 0 2px;
    background: #ffffff;
    box-shadow: none; 
    border: 1px solid #c1c5cb;
    border-color: #b0b5bd #c1c5cb #d2d6dc;
    border-radius: 3px;
    font-size: 14px;    
}

.form-input.disabled {
    background: whitesmoke;
}

.form-row {
    margin-top:10px;
}

/**
 * CSS styles for forms generated by yiic.
 *
 * The styles can be applied to the following form structure:
 *
 * <div class="form">
 *     <div class="row">
 *         <label for="inputid">xyz</label>
 *         <input name="inputid" id="inputid" type="text" />
 *         <p class="hint">hint text</p>
 *     </div>
 *     <div class="row">
 *         <label for="inputid">xyz</label>
 *         <input name="inputid" id="inputid" type="text" />
 *         <p class="hint">hint text</p>
 *     </div>
 *     <div class="row buttons">
 *         <label for="inputid">xyz</label>
 *         <input name="inputid" id="inputid" type="text" />
 *         <p class="hint">hint text</p>
 *     </div>
 * </div>
 *
 * The above code will render the labels and input fields in separate lines.
 * In order to render them in the same line, please use the "wide" form as follows,
 *
 * <div class="wide form">
 *     ......
 * </div>
 *
 * @author Qiang Xue <qiang.xue@gmail.com>
 * @link http://www.yiiframework.com/
 * @copyright Copyright &copy; 2008-2010 Yii Software LLC
 * @license http://www.yiiframework.com/license/
 */

div.form
{
}

div.form input,
div.form textarea,
div.form select
{
	margin: 0.2em 0 0.5em 0;
}

div.form fieldset
{
	border: 1px solid #DDD;
	padding: 10px;
	margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

div.form label
{
	font-weight: bold;
	font-size: 0.9em;
	display: block;
}

div.form .row
{
	margin: 5px 0;
}

div.form .hint
{
	margin: 0;
	padding: 0;
	color: #999;
}

div.form .note
{
	font-style: italic;
}

div.form span.required
{
	color: red;
}

div.form div.error label,
div.form label.error,
div.form span.error
{
	color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
	background: #FEE;
	border: 1px solid #C00;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{
	background: #E6EFC2;
	border-color: #C6D880;
}


div.form .errorSummary
{
	border: 1px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

div.form .errorMessage
{
	color: red;
	font-size: 0.9em;
}

div.form .errorSummary p
{
	margin: 0;
	padding: 5px;
}

div.form .errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

div.wide.form label
{
	float: left;
	margin-right: 10px;
	position: relative;
	text-align: right;
	width: 100px;
}

div.wide.form .row
{
	clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
	clear: left;
	padding-left: 110px;
}
