.page-tab-container-heading {
    padding: 5px 0px;
    font-size: 1em;
}
.page-tab ul.tabs
{
    font-size: 0.9em;
    height: 25px;
    margin:0;
    padding:0;
    border-bottom: 1px solid whitesmoke;
}
.page-tab ul.tabs li
{
    list-style: none;
}
.page-tab ul.tabs a
{
    padding: 5px 10px 0px;
    margin: 0 3px 0px 0px;
    border-top: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    border-bottom: 0px solid whitesmoke;
    background: whitesmoke;
    text-decoration: none;
    display: inline-block;
    height: 20px;
    width: auto;
    float: left;
    color: lightgray;
    position: relative;
}
.page-tab ul.tabs li a.close:hover {
    background: pink;
}
.page-tab ul.tabs a.active
{
    background: white;
    border-bottom: 1px solid white;
    font-weight: lighter;
    color : #111;
}
.page-tab div.view
{
    padding: 5px 0px;
    margin: 0;
    background: white;
}

